<app-menu [title]="title"
          color="dark"
          ></app-menu>

<div class="container">
<h1 class="text-center">{{ title }}</h1>
<app-pizza [pizza]="selectedPizza"></app-pizza>



<!--
  <input [value]="selectedPizza.name" (keyup)="selectedPizza.name = $event.target.value">
-->

<h2>Les pizzas</h2>

<ul>
  <li *ngFor="let pizza of pizzas" (click)="onSelect(pizza)"[class.selected]="pizza==selectedPizza">
    {{ pizza.name }}
  </li>
</ul>

<h2>Les TPs</h2>


<app-author [user]="user"></app-author>


<app-ingredient-list [ingredients]="ingredients"></app-ingredient-list>
</div>